<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.AccountBillMapper">

	<insert id="insertPojo">
		insert into t_account_bill(
			<include refid="base_column" />
		)
		values(
			#{uid},
			#{orderId},
			#{inOut},
			#{type},
			#{subType},
			#{desc},
			#{tradeFee},
			#{createTime}
		)
	</insert>
	
</mapper>