<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.BusinessMapper">
	
	<resultMap type="Alliance" id="allbusinessResultMap">
		<id column="f_id" property="id" />
		<result column="f_uid" property="uid" />
		<result column="f_phone_number" property="phoneNumber" />
		<result column="f_name" property="name" />
		<result column="f_address" property="address" />
		<result column="f_delivery" property="delivery" />
		<result column="f_longitude" property="longitude" />
		<result column="f_latitude" property="latitude" />
		<result column="f_status" property="status" />
		<result column="f_stock" property="stock" />
		<result column="f_apply_time" property="applyTime" />
		<result column="f_audit_time" property="auditTime" />
	</resultMap>
	
	<select id="getAllBusinessList" resultMap="allbusinessResultMap">
		select * from t_business order by f_apply_time desc
	</select>
	
</mapper>
