<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.FishSiteBaseInfoMapper">
	<resultMap type="FishSiteBaseInfo" id="FishSiteBaseInfoMap">
		<result column="f_site_base_uid" property="fishSiteUid" />
		<result column="f_site_base_name" property="fishSiteName" />
		<result column="f_site_user_name" property="userName" />
		<result column="f_phone" property="phone" />
		<result column="f_status" property="status" />
		<result column="f_address" property="address" />
		<result column="f_longitude" property="lon" />
		<result column="f_latitude" property="lat" />
		<result column="f_province_id" property="provinceId" />
		<result column="f_province_name" property="provinceName" />
		<result column="f_city_id" property="cityId" />
		<result column="f_city_name" property="cityName" />	
		<result column="f_site_put_fish_info" property="putFishInfo" />
		<result column="f_site_size" property="siteSize" />
		<result column="f_site_charge" property="siteCharge" />
		<result column="f_support_facility" property="supportFacility" />
		<result column="duration" property="duration" />
		<result column="num" property="haveFishNum" />
		<result column="f_image" property="image" />
		<result column="mainImage" property="mainPicture" />
	</resultMap>
		
	<resultMap type="FishSiteBaseInfo" id="FishSiteMap">
		<id column="f_site_base_uid" property="fishSiteUid" />
		<result column="f_site_base_name" property="fishSiteName" />
		<result column="f_site_user_name" property="userName" />
		<result column="f_phone" property="phone" />
		<result column="f_status" property="status" />
		<result column="f_longitude" property="lon" />
		<result column="f_latitude" property="lat" />
		<result column="f_province_id" property="provinceId" />
		<result column="f_province_name" property="provinceName" />
		<result column="f_city_id" property="cityId" />
		<result column="f_city_name" property="cityName" />	
		<result column="f_set_time" property="setTime" />
		<result column="f_address" property="address" />
		<result column="f_site_put_fish_info" property="putFishInfo" />
		<result column="f_site_size" property="siteSize" />
		<result column="f_site_charge" property="siteCharge" />
		<result column="f_support_facility" property="supportFacility" />
		<result column="f_image" property="image" />
		<result column="num" property="haveFishNum" />
	</resultMap>
	
	<!--钓场列表 -->	
	<select id="getFishSite" resultMap="FishSiteBaseInfoMap">
		select *,substring_index(f_image,',',1) as mainImage from(
		SELECT h.*,g.num,round(6370996.81 * 2 * asin(sqrt( pow(sin(((#{lat} * PI() /180.0) - (f_latitude * PI() /180.0))/2),2) + cos(#{lat} * PI() /180.0) * 
		cos(f_latitude * PI() /180.0) * pow(sin(((#{lon} - f_longitude) * PI()/180.0)/2),2)))) as duration  
		from t_fish_site_base h LEFT JOIN (SELECT SUM(num) as num,f_site_base_uid from ((SELECT COUNT(*) AS num,f.f_site_base_uid from t_have_fish e LEFT JOIN t_fish_site_base f on e.f_uid = f.f_site_base_uid 
		WHERE f.f_status = 1 GROUP BY f.f_site_base_uid)
		UNION(SELECT count(*)AS num,c.f_site_base_uid FROM t_have_fish d LEFT JOIN (SELECT b.f_employee_uid,a.f_site_base_uid from t_fish_site_base a LEFT JOIN t_fish_site_base_employee b on a.f_site_base_uid = b.f_site_uid 
		WHERE a.f_status = 1)c ON c.f_employee_uid = d.f_uid and d.f_is_display = 0 GROUP BY c.f_site_base_uid))a GROUP BY f_site_base_uid)g 
		ON h.f_site_base_uid = g.f_site_base_uid WHERE h.f_status = 1)a
		left join t_fish_site_base_info x on a.f_site_base_uid = x.f_site_base_uid 	
		order by a.duration LIMIT #{start},#{size}
	</select>
	<!-- 添加钓场信息 -->
	<insert id="addFishSiteBaseInfo">
		insert into t_fish_site_base_info(
			f_site_base_uid,f_site_put_fish_info,f_site_size,f_site_charge,f_support_facility,f_image) values
			(#{fishSiteUid},#{putFishInfo},#{siteSize},#{siteCharge},#{supportFacility},#{image})
	</insert>
	<!-- 获取钓场详情 -->
	<select id="getFishSiteByuid" resultMap="FishSiteMap">
		select a.*,b.f_site_put_fish_info,b.f_site_size,b.f_site_charge,b.f_support_facility,b.f_image,g.num from (select *,
		round(6370996.81 * 2 * asin(sqrt( pow(sin(((#{lat} * PI() /180.0) - (f_latitude * PI() /180.0))/2),2) + cos(#{lat} * PI() /180.0) * 
		cos(f_latitude * PI() /180.0) * pow(sin(((#{lon} - f_longitude) * PI()/180.0)/2),2)))) as duration 
		FROM t_fish_site_base where f_status = 1 and f_site_base_uid = #{fishSiteUid}) a 
		left join t_fish_site_base_info b on a.f_site_base_uid = b.f_site_base_uid 
		LEFT JOIN (SELECT SUM(num) as num,f_site_base_uid from ((SELECT COUNT(*) AS num,f_uid AS f_site_base_uid from t_have_fish 
		WHERE f_is_display = 0 AND f_uid = #{fishSiteUid})
		UNION
		(SELECT COUNT(*) AS num,f_uid AS f_site_base_uid from t_have_fish WHERE f_is_display = 0 AND f_uid in(
		(SELECT f_employee_uid as f_uid FROM t_fish_site_base_employee WHERE f_site_uid = #{fishSiteUid}))))a)g
		ON a.f_site_base_uid = g.f_site_base_uid
	</select>
	
	<select id="getFishSiteBaseInfoByUid" resultMap="FishSiteMap">
		SELECT * FROM t_fish_site_base_info WHERE f_site_base_uid = #{fishSiteUid}
	</select>
	
	<update id="updateFishSiteInfo">
		update t_fish_site_base_info
		<set>
			<if test="putFishInfo != null">
				f_site_put_fish_info = #{putFishInfo}, 
			</if>
			<if test="siteSize != null">
				f_site_size = #{siteSize}, 
			</if>		
			<if test="siteCharge != null">
				f_site_charge = #{siteCharge}, 
			</if>		
			<if test="supportFacility != null">
				f_support_facility = #{supportFacility},
			</if>	
			<if test="image != null">
				f_image = #{image}
			</if>	
		</set>
		where f_site_base_uid = #{fishSiteUid}
	</update>
	
	
	
</mapper>