<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.FishSiteBaseMapper">
	<resultMap type="FishSiteBase" id="FishSiteBaseMap">
		<id column="f_site_base_uid" property="fishSiteUid" />
		<result column="f_site_base_name" property="fishSiteName" />
		<result column="f_site_user_name" property="userName" />
		<result column="f_phone" property="phone" />
		<result column="f_status" property="status" />
		<result column="f_longitude" property="lon" />
		<result column="f_latitude" property="lat" />
		<result column="f_province_id" property="provinceId" />
		<result column="f_province_name" property="provinceName" />
		<result column="f_city_id" property="cityId" />
		<result column="f_city_name" property="cityName" />	
		<result column="f_set_time" property="setTime" />
		<result column="f_address" property="address" />
		<result column="f_user_nickname" property="nickName" />
		<result column="f_user_portriat" property="portriat" />
	</resultMap>
		
	<!-- 获取钓场基本设置 -->	
	<select id="getFishSiteBaseByUid" resultMap="FishSiteBaseMap">
		select * FROM t_fish_site_base WHERE f_site_base_uid = #{uid}
	</select>
	<!-- 添加钓场基本设置 -->
	<insert id="addFishSiteBase">
		insert into t_fish_site_base(
			f_site_base_uid,f_site_user_name,f_site_base_name,f_phone,f_longitude,f_latitude,f_province_id,f_province_name,f_city_id,f_city_name,f_set_time,f_address) values
			(#{fishSiteUid},#{userName},#{fishSiteName},#{phone},#{lon},#{lat},#{provinceId},#{provinceName},#{cityId},#{cityName},#{setTime},#{address})
	</insert>
	
	<!-- 获取钓场基本设置 -->	
	<select id="getAllFishSiteBase" resultMap="FishSiteBaseMap">
		select a.*,b.f_user_nickname,b.f_user_portriat FROM t_fish_site_base a
		left join t_user b on f_site_base_uid = f_uid
		<where>
			<if test="regBegin != null and regEnd != null">
				AND f_set_time BETWEEN #{regBegin} AND date_add(#{regEnd}, interval 1 day)
			</if>
			<if test="provinceId != null">
				AND f_province_id = #{provinceId}
			</if>
			<if test="cityId != null">
				AND f_city_id = #{cityId}
			</if>
		</where>
		limit #{start},#{size}
	</select>
	
	<select id="getFishSiteBaseCountForPage" resultType="Integer">
		select count(*) from t_fish_site_base
		<where>
			<if test="regBegin != null and regEnd != null">
				AND f_set_time BETWEEN #{regBegin} AND date_add(#{regEnd}, interval 1 day)
			</if>
			<if test="provinceId != null">
				AND f_province_id = #{provinceId}
			</if>
			<if test="cityId != null">
				AND f_city_id = #{cityId}
			</if>
		</where>
	</select>
	
	<update id="updateFishSiteBase">
		update t_fish_site_base
		set f_status = #{status}
		where f_site_base_uid = #{uid}
	</update>
	
	<update id="updateFishSite">
		update t_fish_site_base
		<set>
			<if test="fishSiteName != null">
				f_site_base_name = #{fishSiteName}, 
			</if>
			<if test="userName != null">
				f_site_user_name = #{userName}, 
			</if>		
			<if test="phone != null">
				f_phone = #{phone}, 
			</if>		
			<if test="lon != null">
				f_longitude = #{lon},
			</if>		
			<if test="lat != null">
				f_latitude = #{lat},
			</if>		
			<if test="provinceId != null">
				f_province_id = #{provinceId}, 
			</if>		
			<if test="provinceName != null">
				f_province_name = #{provinceName},
			</if>		
			<if test="cityName != null">
				f_city_name = #{cityName},
			</if>
			<if test="cityId != null">
				f_city_id = #{cityId}, 
			</if>		
			<if test="setTime != null">
				f_set_time = #{setTime},
			</if>
			<if test="address != null">
				f_address = #{address}
			</if>	
		</set>
		where f_site_base_uid = #{fishSiteUid}
	</update>
	
</mapper>