<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.MarketingMapper">
	<resultMap type="Marketing" id="MarketingResultMap">
		<id column="f_id" property="id" />
		<result column="f_name" property="name" />
		<result column="f_banner" property="banner" />
		<result column="f_detail" property="detail" /> 
		<result column="f_begin_time" property="beginTime" />
		<result column="f_end_time" property="endTime" />
		<result column="f_create_time" property="createTime" />
		<result column="f_status" property="status" />
	</resultMap>
	
	<resultMap type="ThumbsResult" id="ThumbsMap">
		<id column="f_marketing_id" property="mid" />
		<result column="f_marketing_uid" property="uid" />
		<result column="f_user_nickname" property="nickname" />
		<result column="f_user_portriat" property="portriat" />
		<result column="f_upload_time" property="uploadTime" />
		<result column="f_like_count" property="likeCount" />
		<result column="f_status" property="status" />
		<result column="f_picture_desc" property="pictureDesc" />
		<result column="f_picture" property="picture" />
		<result column="f_refund_reason" property="refundReason" />
		<result column="f_refund_time" property="refundTime" />
		<result column="likeAry" property="likeAry" />
		<result column="ranking" property="ranking" />
	</resultMap>
	
	<sql id="forGetMarketing">
		<if test="status != null">
			where f_status = #{status}
		</if>
	</sql>
	
	<!-- 获取活动 -->
	<select id="getMarketingList" resultMap="MarketingResultMap">
		select * from t_marketing
		<include refid="forGetMarketing" />
		<if test="start != null and size != null">
			limit #{start},#{size}
		</if>
	</select>

	<!-- 获取活动总数 -->	
	<select id="getMarketingCount" resultType="Integer">
		select count(0) from t_marketing
		<include refid="forGetMarketing" />
	</select>
	
	<!-- 获取指定活动 -->
	<select id="getMarketingById" parameterType="Integer" resultMap="MarketingResultMap">
		select *
		from t_marketing 
		where f_id = #{id}
	</select>
	
	<!-- 添加活动 -->
	<insert id="addMarketing">
		insert into t_marketing
		(f_name,f_banner,f_detail,f_begin_time,f_end_time,f_create_time,f_status)
		values (#{name}, #{banner}, #{detail}, #{beginTime}, #{endTime}, #{createTime},0)
	</insert>
	
	<!-- 添加点赞图片 -->
	<insert id="addThumbs">
		insert into t_marketing_thumbs
		(f_marketing_id,f_marketing_uid,f_picture,f_picture_desc,f_like_count,f_status,f_upload_time)
		values(#{mid}, #{uid}, #{picture}, #{pictureDesc}, 0, 0, #{uploadTime})
	</insert>
	
	<!-- 修改点赞图片 -->
	<update id="updateThumbs">
		update t_marketing_thumbs
		<set>
			<if test="thumbs.picture != null">
				f_picture = #{thumbs.picture},
			</if>
			<if test="thumbs.likeCount != null">
				f_like_count = #{thumbs.likeCount},
			</if>
			<if test="thumbs.status != null">
				f_status = #{thumbs.status},
			</if>
			<if test="thumbs.uploadTime != null">
				f_upload_time = #{thumbs.uploadTime},
			</if>
			<if test="thumbs.refundReason != null">
			   	f_refund_reason = #{thumbs.refundReason},
			</if>
			<if test="thumbs.refundTime != null">
			   	f_refund_time = #{thumbs.refundTime}
			</if>
		</set>
		where f_marketing_id = #{mid} and f_marketing_uid = #{uid}
	</update>
	
	<update id="updateThumbsLikeCount">
		update t_marketing_thumbs
		set f_like_count = f_like_count + 1
		where f_marketing_id = #{mid} and f_marketing_uid = #{uid}
	</update>
	
	<!-- 添加点赞用户 -->
	<insert id="addLike" >
		insert into t_marketing_thumbs_like
		(f_marketing_id,f_like_uid,f_marketing_uid,f_like_time)
		values (#{mid}, #{likeUid}, #{uid}, #{likeTime})
	</insert>
	
	<!-- 更新活动 -->
	<update id="updateMarketing" parameterType="Marketing">
		update t_marketing
		<set>
			<if test="name != null">
				f_name = #{name}, 
			</if>
			<if test="banner != null">
				f_banner = #{banner}, 
			</if>
			<if test="detail != null">
				f_detail = #{detail}, 
			</if>
			<if test="beginTime != null">
				f_begin_time = #{beginTime},
			</if>
			<if test="endTime != null">
				f_end_time = #{endTime},
			</if>
			<if test="status != null">
			   	f_status = #{status}
			</if>
		</set>
		where f_id = #{id}
	</update>
	
	<!-- 获取用户上传图片组 -->
	<select id="getThumbs" resultMap="ThumbsMap">
		select u.f_user_nickname,u.f_username,u.f_user_portriat,u.f_user_realname,f_picture,f_picture_desc,f_like_count
		, f_status,f_upload_time,f_refund_reason,f_refund_time,f_marketing_id,f_marketing_uid
		, (SELECT GROUP_CONCAT(u.f_user_nickname) FROM t_marketing_thumbs_like mpl LEFT JOIN t_user u ON mpl.f_like_uid = u.f_uid where f_marketing_id = #{mid} and f_marketing_uid = #{uid}) likeAry
		from t_marketing_thumbs m left join t_user u on m.f_marketing_uid = u.f_uid
		where f_marketing_id = #{mid} and f_marketing_uid = #{uid}
	</select>
	
	<!-- 获取用户上传图片组 -->
	<!-- 不必要字段：, mt.f_refund_reason, mt.f_refund_time -->
	<select id="getThumbsList" resultMap="ThumbsMap">
		set @x=0;
		select t2.* from (
			select t1.* from (
				select @x:=ifnull(@x,0)+1 as ranking, mt.f_marketing_id, mt.f_marketing_uid
					, u.f_user_nickname, u.f_user_portriat, mt.f_upload_time, mt.f_like_count, mt.f_status
					, mt.f_picture_desc, mt.f_picture
					,
					(
						SELECT SUBSTRING_INDEX(GROUP_CONCAT(u.f_user_nickname ORDER BY mtl.f_like_time ASC),',',#{count})
						FROM t_marketing_thumbs_like mtl LEFT JOIN t_user u ON mtl.f_like_uid=u.f_uid
						WHERE mtl.f_marketing_uid=mt.f_marketing_uid
					) as likeary
				from t_marketing_thumbs mt left join t_user u on mt.f_marketing_uid = u.f_uid
				where f_status = 1 and f_marketing_id = #{mid}
				order by mt.f_like_count desc, mt.f_upload_time asc
			) t1
			order by case when t1.f_marketing_uid = #{uid} then 0 else 1 end, ranking asc
		) t2
		limit #{start}, #{size}
	</select>
	
	<!-- 获取点赞用户列表 -->
	<select id="isLike" resultType="Integer">
		select count(0) from t_marketing_thumbs_like
		where f_marketing_id = #{mid} and f_marketing_uid = #{uid} and f_like_uid = #{likeUid}
	</select>
	
	<!-- 是否参加了活动 -->
	<select id="isJoin" resultType="Integer">
		select count(0) from t_marketing_thumbs
		where f_marketing_id = #{mid} and f_marketing_uid = #{uid}
	</select>
	
	<sql id="forGetThumbsFrom">
		FROM t_marketing_thumbs mt LEFT JOIN t_user u ON mt.f_marketing_uid = u.f_uid
	</sql>
	
	<sql id="forGetThumbsWhere">
		WHERE mt.f_marketing_id = #{mid}
		<if test="status != null">
			AND mt.f_status = #{status}
		</if>
		<if test="begin != null and end != null">
			AND mt.f_upload_time BETWEEN #{begin} AND date_add(#{end}, interval 1 day)
		</if>
	</sql>
	
	<!-- 获取所有点赞活动发布图片的列表 -->
	<!-- GROUP_CONCAT有GROUP BY，可以尝试一下，替换掉SUBSTRING_INDEX -->
	<select id="getThumbsWithPage" resultMap="ThumbsMap">
		SELECT mt.f_marketing_id, mt.f_marketing_uid
			, u.f_user_nickname, u.f_user_portriat, mt.f_upload_time, mt.f_like_count, mt.f_status
			, mt.f_picture_desc, mt.f_picture, mt.f_refund_reason, mt.f_refund_time
			,
			(
				SELECT SUBSTRING_INDEX(GROUP_CONCAT(u.f_user_nickname ORDER BY mtl.f_like_time ASC),',',#{count})
				FROM t_marketing_thumbs_like mtl LEFT JOIN t_user u ON mtl.f_like_uid=u.f_uid
				WHERE mtl.f_marketing_uid=mt.f_marketing_uid
			) as likeary
		<include refid="forGetThumbsFrom" />
		<include refid="forGetThumbsWhere" />
		<choose>
			<when test="orderField == 'ranking'">
				ORDER BY mt.f_like_count ${orderBy}, mt.f_upload_time asc
			</when>
			<when test="orderField == 'time'">
				ORDER BY mt.f_upload_time ${orderBy}
			</when>
		</choose>
		LIMIT #{start}, #{size}
	</select>
	
	<!-- 获取所有点赞活动发布图片的总数 -->
	<select id="getThumbsTotalCount" resultType="Integer">
		SELECT count(0)
		<include refid="forGetThumbsFrom" />
		<include refid="forGetThumbsWhere" />
	</select>
	
	<!-- 审核点赞活动  -->
	<update id="audit">
		UPDATE t_marketing_thumbs
		SET f_status = #{status}
		<if test="status == 2">
			, f_refund_reason = #{reason}
			, f_refund_time = #{time}
		</if>
		WHERE f_marketing_id = #{mid}
			AND f_marketing_uid = #{uid}
			AND f_status = 0
	</update>
	
	<!-- 获取点赞列表 -->
	<select id="getAllLike" resultType="String">
		SET SESSION GROUP_CONCAT_max_len = 4294967295;
		select GROUP_CONCAT(u.f_user_nickname ORDER BY mtl.f_like_time ASC) from t_marketing_thumbs_like mtl LEFT JOIN t_user u on mtl.f_like_uid=u.f_uid
		WHERE f_marketing_id=#{mid} and f_marketing_uid=#{uid}
	</select>
	
</mapper>
