<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.RegionMapper">
	<resultMap type="Region" id="regionResultMap">
		<result column="f_region_num" property="regionNum" />
		<result column="f_region_name" property="regionName" />
	</resultMap>
	
	<select id="getProvince" resultMap="regionResultMap">
		select f_region_num,f_region_name from t_sys_cfg_region WHERE f_pid = 0 and f_region_name like CONCAT(CONCAT('%',#{name}),'%')
	</select>
	
	<select id="getAllCity" resultMap="regionResultMap">
		select f_region_num,f_region_name from t_sys_cfg_region WHERE f_pid = #{num}
	</select>
</mapper>
