<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heipiao.api.v2.mapper.UserMapper">
	<resultMap type="User" id="userResultMap">
		<id column="f_uid" property="id" />
		<result column="f_username" property="username" />
		<result column="f_user_nickname" property="nickname" />
		<result column="f_user_sex" property="sex" />
		<result column="f_user_openid" property="openId" />
		<result column="f_user_register_time" property="registerTime" />
		<result column="f_province_id" property="provinceId" />
		<result column="f_province" property="province" />
		<result column="f_city_id" property="cityId" />
		<result column="f_city" property="city" />
		<result column="f_user_portriat" property="portriat" />
		<result column="f_user_last_logintime" property="lastLoginTime" />
	</resultMap>
	
	<sql id="forUserInfo">
		f_uid, f_username, f_user_nickname, f_user_sex, f_user_openid, f_user_register_time, f_province_id, f_province, f_city_id, f_city, f_user_portriat ,f_user_last_logintime
	</sql>
	
	<select id="selectById" resultMap="userResultMap">
		SELECT <include refid="forUserInfo" />
		FROM t_user where f_uid = #{id}
	</select>
	
	<select id="queryUserByOpenId" resultMap="userResultMap">
		select <include refid="forUserInfo" />
		from t_user
		where f_user_openid = #{unionId}
		<if test="source != null">
			and f_user_source =	#{source}
		</if>
	</select>
	
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user (f_user_nickname, f_user_sex, f_user_openid
			, f_user_register_time, f_province_id, f_province, f_city_id, f_city
			, f_user_portriat, f_user_last_logintime, f_user_status)
		values (#{nickname}, #{sex}, #{openId}, #{registerTime}
			, #{provinceId}, #{province}, #{cityId}, #{city}, #{portriat}, #{lastLoginTime}, 1)
	</insert>
	
	<sql id="forGetUserWithPage">
		from t_user
		<where>
			<if test="provinceId != null">
				AND f_province_id = #{provinceId}
			</if>
			<if test="cityId != null">
				AND f_city_id = #{cityId}
			</if>
			<if test="regBegin != null and regEnd != null">
				AND f_user_register_time BETWEEN #{regBegin} AND date_add(#{regEnd}, interval 1 day)
			</if>
		</where>
	</sql>
	
	<select id="getUserWithPage" resultMap="userResultMap">
		select <include refid="forUserInfo" />
		<include refid="forGetUserWithPage" />
		<if test="orderBy != null">
			ORDER BY f_user_register_time ${orderBy}
		</if>
		LIMIT #{start}, #{size}
	</select>
	
	<select id="getUserCountForPage">
		select count(0)
		<include refid="forGetUserWithPage" />
	</select>
	
</mapper>
